*{
    margin: 0px;
    padding: 0px;
    max-height: 100vh;
}
body{

    background-color: #7e8fb3;

}

#aguarde{
    width: 400px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -200px;
    display: none;
}
#body{
    display: block;
}



div{
    margin: 25% 25%;
    width: 70%;
    border-radius: 100px;
    background-image: url(../img/inverno.gif);
    background-repeat: no-repeat;
    background-size: cover;

    
   
}
#h3{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    color:#bce5ff;
}

#btnP, #btnP2{
    
    text-align: center;
    margin-top: 15px;
}
#btnMuda{
    margin-top: 10px;
    background-image: radial-gradient(circle at 37.6% 71.48%, #39d9ff 0, #3680bc 50%, #1d324a 100%);
    width: 120px;
    height: 40px;
    color: beige;
    font-weight: bolder;
    cursor: pointer; 
}#btnMuda:hover{
    background-image: radial-gradient(circle at 37.6% 71.48%, #dfc42a 0, #e1b627 10%, #dfa727 20%, #d99627 30%, #cf8428 40%, #c17128 50%, #b25f28 60%, #a35028 70%, #974328 80%, #8b3828 90%, #812f29 100%);
    width: 120px;
    height: 40px;
    color: black;
    font-weight: bolder;
    cursor: pointer; 
}

#btnMuda2{
    margin-top: 15px;
    width: 120px;
    height: 40px;
    background-image: radial-gradient(circle at 37.6% 71.48%, #39d9ff 0, #3680bc 50%, #1d324a 100%);
    color: beige;
    font-weight: bolder;
    cursor: pointer;
    margin-bottom: 10px;
    
}#btnMuda2:hover{
    background-image: radial-gradient(circle at 37.6% 71.48%, #39d9ff 0, #3680bc 50%, #1d324a 100%);
    width: 120px;
    height: 40px;
    color: black;
    font-weight: bolder;
    cursor: pointer; 
}


#h5, #h5-5{
    margin-top: 50px;
    text-align: center;
    font-weight: bolder;
    text-shadow: 2px 5px 10px #19000e;
    color:#9db9f2;

   
}
#h5-2, #h5-3, #h5-4{
    margin-top: 50px;
    text-align: center;
    font-weight: bolder;
    text-shadow: 2px 5px 10px #19000e;
    color: #cf8428;
    display: none;

   
}

.login{
    
    display: block;
    margin: 0px auto;
    width: 50%;
    height: 40px;
    border-radius: 20px;
    font-size: 18px;
   text-align: center;

}
.cad{
    display: none;
    margin: 0px auto;
    width: 50%;
    height: 40px;
    border-radius: 20px;
    font-size: 18px;
   text-align: center;
}

#h3-2{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    color: #d99627 ;
    display: none;
}



#btnP3{
    text-align: center;
    margin-top: 15px;
    display: none;
}
#btnMuda3{
    margin-top: 15px;
    background-image: radial-gradient(circle at 37.6% 71.48%, #dfc42a 0, #e1b627 10%, #dfa727 20%, #d99627 30%, #cf8428 40%, #c17128 50%, #b25f28 60%, #a35028 70%, #974328 80%, #8b3828 90%, #812f29 100%);
    width: 120px;
    height: 40px;
    color: beige;
    font-weight: bolder;
    cursor: pointer; 
    margin-bottom: 10px;
}#btnMuda3:hover{
    background-image: radial-gradient(circle at 37.6% 71.48%, #dfc42a 0, #e1b627 10%, #dfa727 20%, #d99627 30%, #cf8428 40%, #c17128 50%, #b25f28 60%, #a35028 70%, #974328 80%, #8b3828 90%, #812f29 100%);
    width: 120px;
    height: 40px;
    color: black;
    font-weight: bolder;
    cursor: pointer
}

#btnP4{
    display: none;
    text-align: center;
    margin-top: 15px;
    
}
#btnMuda4{
    margin-top: 10px;
    background-image: radial-gradient(circle at 37.6% 71.48%, #dfc42a 0, #e1b627 10%, #dfa727 20%, #d99627 30%, #cf8428 40%, #c17128 50%, #b25f28 60%, #a35028 70%, #974328 80%, #8b3828 90%, #812f29 100%);
     width: 120px;
    height: 40px;
    color: beige;
    font-weight: bolder;
    cursor: pointer; 
}#btnMuda4:hover{
    background-image: radial-gradient(circle at 37.6% 71.48%, #39d9ff 0, #3680bc 50%, #1d324a 100%);
    width: 120px;
    height: 40px;
    color: black;
    font-weight: bolder;
    cursor: pointer; 
}

